<head>
  <link rel="stylesheet" href="style.css" />
  <script src="jquery.min.js"></script>
  <script src="keyboardmagic.js"></script>
  <link rel="stylesheet" href="help.css" />
</head>

<div id="container">
  <table>
    <th>
      <h1>Key</h1>
    </th>
    <th>
      <h1>Function</h1>
    </th>
    <tr>
      <td>Space</td>
      <td>Enter typing mode / Pause and Play</td>
    </tr>
    <tr>
      <td>Esc</td>
      <td>Back / Exit typing mode</td>
    </tr>
    <tr>
      <td>Shift + Esc</td>
      <td>Go to main page</td>
    </tr>
    <tr>
      <td>Up / Down key</td>
      <td>Cycle through items</td>
    </tr>
    <tr>
      <td>Question mark (Shift + /)</td>
      <td>Open this help page</td>
    </tr>
    <tr>
      <td>Shift + Backspace</td>
      <td>Go back to last page</td>
    </tr>
    <tr>
      <td>Enter</td>
      <td>Select item / Play video</td>
    </tr>
  </table>
</div>
