<head>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="info.css" />
  <script src='../static/js/jquery.min.js'></script>
  <script src='../static/js/keyboardmagic.js'></script>
</head>

<div id="container">
  <div id="content">
    <div id="about">
      <h1>
        <div style="float: left; margin-bottom: 20px">{{name}}</div>
        <div class="stage">
          <div class="pyramid3d">
            <div class="triangle side1"></div>
            <div class="triangle side2"></div>
            <div class="triangle side3"></div>
            <div class="triangle side4"></div>
          </div>
        </div>
      </h1>
      <h3 style="clear: both" class="subhead">
        <a>Length:</a>
        {{dur}}
      </h3>
      <p id="pleft">{{desc}}</p>
      <p id="pright">
        <a href="{{url}}">
          <img src="https://themoviedb.org/t/p/w300_and_h450_bestv2{{poster}}" alt="{{name}}" />
      </p>
      <div class="playvideobutton">
        <a link="{{id}}" class="link">
          <img src="../static/img/play.png" alt="Play Video"/>
        </a>
      </div>
    </div>
  </div>
</div>
