<head>
  <script src="jquery.min.js"></script>
  <script src="keyboardmagic.js"></script>
  <script src="plyr.js"></script>
  <link rel="stylesheet" href="plyr.css" />
  <style>
    .detach-button-host {
      visibility: hidden;
    }
    .plyr {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  </style>
</head>

<body>
  <div class="vidid-holder" id="{{id}}"></div>
  <video id="my-video">
    <source src="/video_feed/{{id}}#t={{watched}}" type="video/mp4" />
    <script>
      const player = new Plyr("#my-video");
    </script>
  </video>
</body>
